body {
	background: white;
	font-weight: bold;

}

#header2 {
	font-size: 100%;

}

.type {
	font-weight: bolder;
	background-color: red;
}

h3 {
	padding: 11%;
	border: 11%;
	margin-left: 111%;
	border-image: 1111%;
	font-style: italic;
	background-image: url(http://www.w3schools.com/colors/colors_picker.asp);

}


@media screen and (max-width: 500px) {
  body {
    font-size: 50%;
    font-weight: bold;
    
  }
}

